<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Register</title>
    <link rel="stylesheet" href="/static/cash_register.css">
</head>
<body>
    <div class="container">
        <h1>Cash Register</h1>
        <div class="cart">
            <h2>Products in Cart</h2>
            <ul>
                {% for product in products %}
                    <li>
                        <div class="product-info">
                            <span class="product-name">{{ product.name }}</span>
                            <span class="product-price">${{ product.price }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="total-amount">
                <h3>Total Amount: ${{ total_amount }}</h3>
            </div>
            <form action="{{ url_for('logout') }}" method="post">
                <button type="submit" class="btn btn-signout">Sign Out</button>
            </form>
            <div class="button-group">
                <a href="{{ url_for('index') }}" class="btn btn-main">Go to Main Page</a>
                <a href="{{ url_for('products') }}" class="btn btn-products">Return to Products</a>
            </div>
        </div>
    </div>
</body>
</html>
