<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Supermarket App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="toolbar">
        <h1>Supermarket</h1>
    </div>

    <div class="container">
        <header>
            <h2>Welcome to Supermarket App</h2>
            {% if session.user_id %}
                <p class="welcome-message">Hello {{ session.username }}, welcome to Supermarket App!-Test</p>
            {% endif %}
        </header>
        
        <main>
            <div class="center">
                <img src="{{ url_for('static', filename='super.png') }}" alt="Supermarket Logo" class="center-image">
                {% if session.user_id %}
                    <p><a href="{{ url_for('products') }}" class="session-button">Products</a></p>
                    <p><a href="{{ url_for('cash_register') }}" class="session-button">Cash Register</a></p>
                    <form action="{{ url_for('logout') }}" method="POST" class="inline-form">
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                {% else %}
                    <p>Don't have an account yet? <a href="{{ url_for('signup') }}">Sign Up</a></p>
                    <p>Already have an account? <a href="{{ url_for('login') }}">Sign In</a></p>
                {% endif %}
            </div>
        </main>
    </div>
</body>
</html>
