<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Supermarket App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="toolbar">
        <h1>Supermarket</h1>
    </div>

    <div class="container">
        <header>
            <h2>Welcome to Supermarket App</h2>
        </header>
        
        <main>
            <div class="center">
                <img src="{{ url_for('static', filename='super.png') }}" alt="Supermarket Logo" class="center-image">
                <p>Don't have an account yet? <a href="{{ url_for('signup') }}">Sign Up</a></p>
                <p>Already have an account? <a href="{{ url_for('login') }}">Sign In</a></p>
            </div>
        </main>
    </div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Supermarket App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="toolbar">
        <h1>Supermarket</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if session.user_id %}
                <li><a href="{{ url_for('products') }}">Products</a></li>
                {% endif %}
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}">Sign In</a></li>
                {% if session.user_id %}
                <li><a href="{{ url_for('products') }}" class="session-button">Products</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="container">
        <header>
            <h2>Welcome to Supermarket App</h2>
        </header>
        
        <main>
            <div class="center">
                <img src="{{ url_for('static', filename='super.png') }}" alt="Supermarket Logo" class="center-image">
                <p>Don't have an account yet? <a href="{{ url_for('signup') }}">Sign Up</a></p>
                <p>Already have an account? <a href="{{ url_for('login') }}">Sign In</a></p>
            </div>
        </main>
    </div>
</body>
</html>
